.item {
  border: 1px blue solid;
  box-sizing: border-box;
  width: 100%;
  max-width: 33.3333%;
  padding: 15px;

  @media (max-width: 900px) {
    max-width: 50%;
  }
  @media (max-width: 500px) {
    max-width: 100%;
  }
}

.img {
  width: 100%;
  border-radius: 20px;
}
