.languageWrapper {
  border-right: 1px var(--primaryText) solid;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: 200;
}

.languageWrapper:last-child {
  border: none;
}

.active {
  font-weight: 600;
}
