.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  border-bottom: 3px #fbedea solid;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
}

.headerImg {
  height: 300px;
  @media (max-width: 900px) {
    height: 200px;
  }
}
