.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  border-bottom: 3px #fbedea solid;
  color: #E6A9A7;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
}

.headerImg {
  height: 360px;
  width: 330px;
  @media (max-width: 900px) {
    height: 200px;
    width: 186px;
  }
}
