.form {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
    border: 2px gray solid;
    border-radius: 8px;
    padding: 12px;
}
.formBlock {
    display: flex;
    max-width: 250px;
    justify-content: space-between;
    padding-bottom: 12px;
}