:root {
  --mainColor: rgb(28, 27, 27);
  --padding-s: 4px;
  --padding-m: 8px;
  --padding-l: 12px;
  --padding-xl: 24px;
}


@media (prefers-color-scheme: dark) {
  .theme {
    background: #753;
    color: #dcb;
    outline: 5px dashed #000;
  }
}

@media (prefers-color-scheme: light) {
  .theme {
    background: #bcd;
    color: #334;
    outline: 5px dotted #000;
  }
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
