:root {
  --padding-s: 4px;
  --padding-m: 8px;
  --padding-l: 12px;
  --padding-xl: 24px;
}

@media (prefers-color-scheme: light) {
  :root {
    --backgroundColor: rgba(243, 246, 249, 0.6);
    --mainColor: rgb(28, 27, 27);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: black;
    --mainColor: white;
  }
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}


.dark-theme {
  --backgroundColor: black;
  --mainColor: white;
}

.light-theme {
  --backgroundColor: rgba(243, 246, 249, 0.6);
  --mainColor: rgb(28, 27, 27);;
}